<div class="input-field">
  <label class="input-label" [for]="id()">{{ label() }}</label>
  <div class="input-wrapper">
    <input
      nz-input
      class="input-control"
      [id]="id()"
      [type]="showPassword() ? 'text' : 'password'"
      [placeholder]="placeholder()"
      [autocomplete]="autocomplete()"
      [value]="value"
      [disabled]="isDisabled"
      [class.input-control--invalid]="invalid()"
      (input)="handleInput($event)"
      (blur)="handleBlur()"
    />
    <button
      class="toggle-button"
      nz-button
      nzType="default"
      type="button"
      [attr.aria-pressed]="showPassword()"
      [attr.aria-label]="showPassword() ? 'Hide password' : 'Show password'"
      (click)="toggleVisibility()"
    >
      {{ showPassword() ? 'Hide' : 'Show' }}
    </button>
  </div>
</div>
