.filters{
  display:grid;
  grid-template-columns: 1fr 220px 180px;
  gap:12px;
  margin: 10px 0 14px;
}
.filters input, .filters select{
  width:100%;
  border:1px solid #eef2f7;
  background:#fff;
  border-radius:14px;
  padding:10px 12px;
  outline:none;
}